.rental-cars__block__content {
    width: 1000px;
    max-width: 80vw;
    margin: 0 auto;
    padding: 45px 0;
}

.rental-cars__block__content h1 {
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    color: #d4002a;
}

.rental-cars_pros {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 85px;
}

.cars-feature {
    display: flex;
    gap: 25px;
    align-items: center;
}

.freedom_paragraph,
.feature_desc {
    color: #687482;
    font-size: 18px;
}

.rental-cars__block {
    display: flex;
    width: 100%;
}

.rental-cars__block p {
    margin: 20px 0;
    font-size: 19px;
    font-family: "Open Sans", Arial, sans-serif;
}

.rental-cars__header_2 {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
}

.rental-cars__block .rental-cars__header {
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #d4002a;
}

.rental-cars__block_extra p {
    color: #212c5b;
    line-height: 30px;
}

.car-girl_image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rental-cars__block {
    display: flex;
    gap: 35px;
}

.rental-cars__header {
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: center;
    color: #d4002a;
}

.rental-cars__doc {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    font-weight: bold;
}

.rental-cars__block__content .rental-cars__button {
    width: 256px;
    height: 45px;
    border-radius: 22.5px;
    box-shadow: -0.2px 3px 6.4px 0.6px rgb(255 138 0 / 20%);
    background-color: #ff8a00;
    font-size: 16px;
    color: white;
    border: none;
    margin: 60px auto 100px;
    display: block;
    outline: none;
    cursor: pointer;
}

.rental-cars__button:hover {
    opacity: .8;
}